<!doctype>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  <div class="container">
    <div class="lottery">
      <div class="lottery-winner">
        <div id="lottery-winner-dept"></div>

      </div>
      <div class="lottery-winner">
        <div id="lottery-winner-name"></div>
      </div>
      <div class="lottery-winner">
        <div id="start_btn"></div>
      </div>
    </div>
  </div>
  <script src="js/index.js"></script>
</body>

</html>
